@import './spacing';
@import './helper';
@import './variables.scss';
@import './sidebar.scss';
@import './transition.scss';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.form-filter {
  .el-form-item__label {
    line-height: 1;
  }
}

::-webkit-scrollbar {
  width: 6px; // vertical scroll
  height: 6px; // horizontal scroll
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #757575;
  border-radius: 16px;
}
